aws-credentials.txt
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/terraform.tfstate*
function-docker-build/tempDockerfile
function-docker-build/main.py
function-docker-build/function-docker-build.xpkg
api-server/*.txt