<h1>Crossplane Self-Service</h1>

<h2>Submit a request for cloud resources below</h2>

<form method="POST" action="/submit">
    <label for="type">Type:</label>
    <select name="type" id="type">
        <option value="Storage">Storage</option>
        <option value="Compute">Compute</option>
        <option value="ModelDeployment">Deploy Model</option>
    </select><br/><br/>

    <label for="name">Name:</label>
    <input type="text" name="name" id="name" placeholder="myresource" pattern="[a-z0-9]([-a-z0-9]*[a-z0-9])?" required/><br/><br/>

    <label for="username">Username:</label>
    <input type="text" name="username" id="username" placeholder="dev" required/><br/><br/>

    <label for="region">Region:</label>
    <select name="region" id="region">
        <option value="US">US</option>
        <option value="EU">EU</option>
    </select><br/><br/>

    <input type="submit" value="Submit Request">
</form>
